@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    min-height: 100vh;
}

.closeimg {
    width: 25px;
}

.continueBtn {
    background-color: #DC0D63;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
}

.head_text {
    font-weight: 600;
}

.ptext {
    font-size: 12px;
}

.btntext {
    font-weight: 500;
    background: transparent;
    font-size: 80%;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}

.bgimg {
    width: 100vw;
}

.color {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);
}

.profilepic_div {
    width: 200px;
    height: 200px;
}

.profilepic_div2 {
    width: 190px;
    height: 190px;
}

.camicon {
    width: 45px;
    margin-top: 140px;
    margin-left: 140px;
}


/* home css ***********************************************************/

.home_logo {
    width: 50px;
}

.profile_img {
    width: 2rem;
}

.search_btn {
    background-color: #DC0D63;
    margin-left: -30px;
}



/* product cart styles ******************************************/

/* .product_img_div{
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.card_text1 {
    color: rgba(0, 0, 0, 0.60);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_text2 {
    color: rgba(0, 0, 0, 0.60);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_text3 {
    color: #356231;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_head {
    color: rgba(0, 0, 0, 0.70);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.harticon {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    margin-top: 4%;
    margin-right: 5%;
}

.backicon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 30%;
    margin-left: 3%;
    background-color: black;
    border-radius: 100%;
    outline: none;
    border: hidden;
}

.toicon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 30%;
    margin-right: 3%;
    background-color: black;
    border-radius: 100%;
    outline: none;
    border: hidden;
}




.category_icon {
    width: 24px;
    height: 22px;
    flex-shrink: 0;
}

.category_container{
    padding-top: 7rem;
    padding-bottom: 5.5rem;
}

.category_text {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.category_div {
    width: 65px;
    height: 63px;
}

.filter_text {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter_icon {
    width: 18px;
    height: 16px;
    margin-top: 4px;
    margin-right: 2px;
}

.category_container {
    height: 60px;
}

.btn_filter {
    background: none;
}

.togglediv {
    width: 25px;
    height: 26px;
    background: #D9D9D9;
    border-radius: 30%;
    margin: 7px;
}

.togglediv img {
    width: 22px;
    height: 22px;
    margin-left: 1.3px;
}

.toggletext {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

.toggle_box {
    border-radius: 10px;
    background: #ECECEC;
}

.fotter_logo {
    width: 50%;
}

.foter_text1 {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}